<!doctype html>

<html>

  <head>

    <title>{{ page.title }}</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/minimal.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 	  
  </head>
  
  <body>
    {% include navbar.html %}
    {{ content }}
  </body>
  
</html>
